.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.gridContainer {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
}

.container img {
  max-width: 340px;
  height: auto;
}
@media (max-width: 1200px) {
  .container img {
    max-width: 240px;
  }
}
@media (max-width: 1024px) {
  .container img {
    max-width: 25vw;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
