.prim {
  color: var(--color-primary);
}

.container {
  height: min(480px, 50vw);
  background-color: var(--color-bg-light);
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  width: min(50vw, 590px);
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  text-align: center;
}

.prim {
  transition: var(--transition);
}

.prim:hover {
  color: var(--color-black);
}

.content p {
  margin-bottom: 12px;
}

.content footer {
  color: var(--color-bg-dark-faded);
  font-weight: 400;
  font-size: 12px;
}

.btn {
  padding: 15px 30px;
  border-radius: 50px;
  color: var(--color-white);
  background-color: var(--color-text);
  transition: var(--transition);
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.photo {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 250px;
  height: auto;
}

@media (max-width: 1200px) {
  .content {
    left: 45%;
  }
}

@media (max-width: 1024px) {
  .photo {
    width: 25vw;
  }
  .content {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .container {
    height: calc(350px + 35vw);
    display: flex;
    flex-direction: column;
    position: static;
    align-items: center;
    gap: 40px;
  }
  .content {
    margin-top: 35px;
    position: static;
    width: 480px;
    font-size: 11px;
  }

  .photo {
    position: static;
  }
}

@media (max-width: 480px) {
  .content {
    width: 95vw;
  }

  .container {
    height: calc(520px - 46vw);
  }

  .photo {
    display: none;
  }
}
